/* ######   TABLE OF CONTENTS ##################  style.css  #############
		- SECTIONS -
	1 	Mixins & Helper Classes
	2	Primary Styles
		a	Layout, Colors & Images
		b	Fonts & Text stylings
	3	Non-semantic helper classes - don't edit
	4	Media Queries - for Responsive Web Design
	5	Print Styles
 */
/* ==|== Mixins/Helpers =====================================================
   Mixins and helper classes - for use by LESS and compiled into CSS
   ========================================================================== */
.transition-none {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/* ==|== primary styles =====================================================
   The Body Shop 
   ========================================================================== 
	
	A - Layout, Colors & Images ---------------------------------------------
*/
body {
  width: 100%;
  margin: 0 auto;
  padding:0px;
}

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }


/* Image replacement for Retina displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  
}
/* ==|== primary styles =====================================================
   The Body Shop
   ========================================================================== 
	
	B - Fonts & Text stylings -----------------------------------------------
*/
body {
  color: #fff;
  background: #fff;
  font-size: 14px;
}

.maincontent{
  width: 100%;
  padding:0px 0px;  /* padding for mobile */
  margin: 0 auto;
  height: auto;
}


/**** PANELS ****/

#panel-top, #panel-bottom, #panel-one, #panel-two, #panel-three, #panel-four, #panel-five, #panel-six, #panel-seven{
 width: 100%;
 text-align: center;
 padding: 10px 0px 10px 0px; 
 background: #fff;
}

#panel-top .leading{
  font-size: 40px;
  font-family: 'interstate-blackcond', Verdana, Geneva, sans-serif;
  text-rendering: optimizeLegibility;
}

#panel-top .leading2{
  font-size: 65px;
  font-family: 'interstate-blackcond', Verdana, Geneva, sans-serif;
  text-rendering: optimizeLegibility;
}

#panel-top .subleading{
  font-size: 18px;
  font-family: 'interstate-boldcond', Verdana, Geneva, sans-serif;
  text-rendering: optimizeLegibility;
}

#panel-top a.btn{
  margin: 20px auto; 
  background-color: #c72177;
  color: #fff; 
  font-size: 24px;
  font-family: 'interstate-bold', Verdana, Geneva, sans-serif;
  padding: 5px 40px;
}

#panel-one .row-1070{
  height: 184px;
  background: url('../images/spring-2flowers-bkg.jpg') no-repeat;
}

#panel-one .leading{
  font-size: 40px;
  font-family: 'interstate-blackcond', Verdana, Geneva, sans-serif;
  text-rendering: optimizeLegibility;
}

#panel-one .leading2{
  font-size: 62px;
  font-family: 'interstate-blackcond', Verdana, Geneva, sans-serif;
  text-rendering: optimizeLegibility;
}

#panel-one .leading2 span{
  display: inline-block;
}

#panel-one .subleading{
  font-size: 24px;
  font-family: 'interstate-bold', Verdana, Geneva, sans-serif;
  text-rendering: optimizeLegibility;
}

#panel-two .columns{
  padding: 0;
}

#panel-two .prod-name{
  max-width: 360px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 26px;
  padding: 20px 0px;
}

#panel-two .prod-subtitle{
  max-width: 415px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 0px 20px 0px;
}

#panel-two .prod-desc{
  max-width: 350px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#panel-two .price-size{
font-family: 'Roboto', sans-serif;
font-size: 28px;
padding: 20px 0px;
}

#panel-two .price{
font-weight: 600;  
}

.columns .prod-info{
  max-width: 455px;
  margin: 0 auto;
  padding:20px 0px;
}


#panel-two .columns a.btn{
  background-color: #000 !important;
  margin-bottom: 10px;
}

#panel-two .columns .learn-more{
  margin: 10px 0px;
}

#panel-two .columns .learn-more a, #panel-two .columns .learn-more a:visited{
  text-decoration: underline;
  font-family: 'interstate-bold', Verdana, Geneva, sans-serif;
  font-size: 16px;
  color: #000 !important;
  text-rendering: optimizeLegibility;
}

#rose-left{
  position: absolute;
  z-index: 999;
  width: 182px;
  height: 101px;
  background: url('../images/floating-rose-left.png') no-repeat;
  margin-top: -65px;
  margin-left: -80px;
}

#rose-right{
  position: absolute;
  z-index: 999;
  width: 182px;
  height: 121px;
  background: url('../images/floating-rose-right.png') no-repeat;
  margin-top: -58px;
  margin-left: 425px;
}


#panel-five .row-1070{
  border: 5px solid #f1e4ee;
}

#panel-five .columns{
  padding: 20px 5px;
}

#panel-five .row-980{
  margin: 0 auto;
}

#panel-five .leading{
  font-family: 'interstate-boldcond', Verdana, Geneva, sans-serif;
  font-size: 52px;
  text-rendering: optimizeLegibility;
  margin: 40px auto 20px auto;
}

#panel-five .prod-title{
font-family: 'Roboto Condensed', sans-serif;
font-weight: 600;
font-size: 20px;
text-transform: uppercase;
}

#panel-five .prod-price{
font-family: 'Roboto Condensed', sans-serif;
font-weight: 600;
font-size: 20px;
margin: 5px auto;
}


#panel-five a.btn{
  background-color: #000 !important;
  margin: 10px auto;
}


#panel-five .learn-more{
  margin: 10px auto;
}

#panel-five .learn-more a, #panel-five .learn-more a:visited{
  text-decoration: underline;
  font-family: 'interstate-bold', Verdana, Geneva, sans-serif;
  font-size: 16px;
  color: #000 !important;
  text-rendering: optimizeLegibility;
}


.arrow-right{
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-left: 30px solid #f6cfd3;
  position: absolute;
  margin-left: 535px;
  margin-top: 40%;
  z-index: 999;
}

.arrow-left{
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-right: 30px solid #f6cfd3;
  position: absolute;
  margin-left: -30px;
  margin-top: 38%;
  z-index: 999; 
}




/**** LEGACY CSS ****/

.mobile {
  display: none;
  visibility: hidden;
}
.desktop {
  display: block;
  visibility: visible;
}

.float-left{
float: left;
}

.float-right{
float: right;
}

.row-980{
  width: 980px;
}

.row-1070{
  width: 1070px;
}

a.btn {
    -moz-user-select: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    /*font-family: 'gill-ss-std', Calibri, sans-serif;*/
    font-family: 'interstate-bold', Verdana, Geneva, sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 1.42857;
    padding: 2px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
    color: #fff !important;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gill-ss-std';
    src: url('../fonts/gillsansstd-webfont.eot');
    src: url('../fonts/gillsansstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gillsansstd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gill-ss-std-bold';
    src: url('../fonts/gillsansstd-bold-webfont.eot');
    src: url('../fonts/gillsansstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gillsansstd-bold-webfont.ttf') format('truetype');

}

@font-face {
    font-family: 'interstate';
    src: url('../fonts/interstate-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interstate-blackcond';
     src: url('../fonts/interstate-blackcondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate-blackcondensed.ttf') format('truetype');
    /*src: url('../fonts/interstate-blackcondensed.ttf') format('truetype');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interstate-bold';
    src: url('../fonts/interstate-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'interstate-boldcond';
    src: url('../fonts/interstate-boldcondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




/* COLORS */

.black{
  color: #000;
}

.white{
  color: #fff;
}

.pink{
  color: #c72177;
}

.green{
  color: #6eb74a;
}


/* BACKGROUNDS */


.black-bkg{
  background-color: #000;
}

.white-bkg {
  background-color: #fff;
}

.pink-bkg{
  background-color: #c72177;
}

.light-pink-bkg{
  background-color: #f6cfd3;
}


/* HYPERLINKS */
a,
a:link,
a:visited {
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:active {
  color: #fff;
}

/* TEXT */
/*h1 {
  font-size: 100px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 23px;
}*/
/* Selection */
::-moz-selection {
  background: #666;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #666;
  color: #fff;
  text-shadow: none;
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
