
#main-banner {
	 background-color:#fff; background-repeat:repeat; padding:0px; 
}
#main-banner .wrapper1200 {
     background-color:#fff; background-repeat:repeat; padding:0px;  
}
#banner {
    height: 130px;
    position: relative;
    width: 100%;
    z-index: 2;
}
.item-L.item-01 .visual {
    display: block;
    position: absolute;
    top: 0;
}
.item-L.item-01 .advertising-01 {
    bottom: 40px;
    position: absolute;
}
.item-L.item-01 .advertising-03 {
    bottom: 40px;
    position: absolute;
    right: 0;
}
.item-L.item-01 {
	padding: 0 0 0;
}