/*1461668432,*/

@keyframes show{0%{opacity:0}100%{opacity:1}}
.pluginFacepileConnectLast,.pluginFacepileConnectConnected .pluginFacepileConnectFirst{animation:show .4s;display:inline-block !important}.pluginFacepileConnectFirst,.pluginFacepileConnectConnected .pluginFacepileConnectLast{display:none !important}
._2lqg{background:#f6f7f8;border:1px solid #e9eaed;border-top:0;overflow-y:auto}._2lqg>div{box-sizing:border-box;height:100%;position:relative;width:100%}._h7n{background:#fff;border-color:#e9eaed #dfe0e4 #d0d1d5;border-radius:2px;box-shadow:0 1px 2px rgba(0, 0, 0, .12);position:relative}._h7n ._h7o{margin:2px 0;position:absolute;right:8px}._2lqh{width:100%}._2p3a ._3x-2{overflow:hidden}
._3o6i{margin-bottom:10px}._57i_{color:#4e5665;line-height:1.358;margin-bottom:2px}._57i_ a{color:#141823;font-weight:bold}._57j2 ._57j3 li{margin-right:2px;margin-top:2px}
._1drm{background:#fff;overflow:hidden;position:relative}._1drm ._1drn{border:1px solid #000}._1drm ._1dro{bottom:40px;left:0;position:absolute;right:0;top:0;z-index:1}._1b90 ._1dro{bottom:0}._2zfs{background:linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);height:100%;left:0;position:absolute;top:0;width:100%;z-index:-1}._1dro ._1drp{color:#3b5998;display:inline-block;font-size:18px;font-weight:500;line-height:1.358;margin-bottom:-5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}._1dro ._1drq{color:#141823;font-size:12px;line-height:1.358;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}._1dro ._2tnv{display:inline-block;overflow:hidden;text-decoration:inherit;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap}._1drm ._1z7u{bottom:0;height:24px;left:0;position:absolute;right:0;z-index:2}._4o5p .pluginConnectButtonConnected,._4o5p .pluginConnectButtonDisconnected,._4o5q button{background-clip:padding-box;border:1px solid rgba(0, 0, 0, .12)}._1drm._1b90,._1drm._1ds4{border:1px solid #e9eaed}._1drm._1ds3 ._1drn{border:2px solid #fff;box-shadow:0 1px 6px rgba(0, 0, 0, .5)}._1drm._1ds3 ._1drp,._1drm._1ds3 ._1drq,._1drm._1ds3 ._1drq ._2tnv{color:#fff;text-shadow:0 2px 4px rgba(0, 0, 0, .9)}._1drm._1ds4 ._1z7u{background:#f6f7f8;border-top:1px solid #e9eaed;padding-top:7px}
.pluginConnectButton a._opc,form.async_saving a._opc{margin:0;opacity:1}.pluginConnectButton a._opd{color:#9197a3}
._29bd,._29bd:hover{text-decoration:none}
.sp_g363wR49-T-{background-image:url(/rsrc.php/v2/yG/r/4cMtbdOQ6Yy.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_g363wR49-T-.sx_512998{width:24px;height:24px;background-position:0 0}.sp_g363wR49-T-.sx_3fbd18{width:24px;height:24px;background-position:0 -25px}.sp_g363wR49-T-.sx_a516c3{background-position:0 -50px}.sp_g363wR49-T-.sx_603e1f{background-position:0 -67px}.sp_g363wR49-T-.sx_4b40ef{background-position:0 -84px}.sp_g363wR49-T-.sx_71c87a{background-position:0 -101px}.sp_g363wR49-T-.sx_ace988{background-position:0 -118px}.sp_g363wR49-T-.sx_ad3d21{background-position:0 -135px}.sp_g363wR49-T-.sx_14d897{width:12px;height:12px;background-position:0 -152px}.sp_g363wR49-T-.sx_043707{width:12px;height:12px;background-position:0 -165px}.sp_g363wR49-T-.sx_4b8f47{width:12px;height:12px;background-position:0 -178px}

#bootloader_IXyz3{height:42px;}.bootloader_IXyz3{display:block!important;}