/*1461873812,*/


._1_lj{color:#4e5665;line-height:1.358;text-align:center}._1_lj:hover{text-decoration:none}div._1_lk{margin-left:0;margin-top:0}._1_lk ._5jmm{border:0;box-shadow:0 1px 2px rgba(0, 0, 0, .12);margin-bottom:0;margin-top:10px}._1_lk ._5jmm:first-of-type{margin-top:0}._1_lk ._2gy7{font-size:12px}._2f7y{padding-top:8px;text-align:center}
._2_79{letter-spacing:.15px}
._2_1h{margin:12px 12px 0}._rb9{border-top:1px solid #f0f0f0}._2163{display:inline-block;line-height:1.358}._2164{border:0;margin:0;width:auto}._2165,._22v4{display:block}._2166,._4mlr{bottom:1px;position:relative}@media (max-width: 220px){._435r{padding-right:5px}}
._36iq{cursor:pointer;font-size:12px;font-weight:bold;line-height:16px;text-align:center}._3xre{color:#7f7f7f}._58c4{color:#fff}._2yf7{vertical-align:bottom}._36iq._4ivs{color:#5890ff}._2yf7._5jp{display:inline-block}._2yf7._3wdt{display:none}._4ivs ._5jp{display:none}._4ivs ._3wdt{display:inline-block}
._1p6f{display:block;width:100%}._1p6g{height:auto}._1p6h{height:100%;width:auto}
._523u{display:inline}
._4i-s{padding:12px 12px 0;word-wrap:break-word}
._55ra{background:#000;box-shadow:none;margin:0 auto}
._2l7q{background:#000;box-shadow:none}._2l7q img{margin:0 auto}
._2q1_{position:relative}._2q20{background:linear-gradient(to bottom, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0) 100%);color:#fff;height:56px;position:absolute;text-shadow:0 1px 2px rgba(0, 0, 0, .5);width:100%}._2q20 a{color:#fff}._2q20 ._2q21{color:#dcdee3}._2q22{background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .75) 100%);bottom:0;height:43px;position:absolute;width:100%}._2q22 ._2_1h{margin:0 0 0 12px}._3rt8{border:2px solid #fff}
._2gn_{background-color:#232937;color:#fff;padding-bottom:56.25%;position:relative;text-align:center;text-shadow:1px 1px 0 rgba(20, 22, 26, .3)}._2go0{bottom:0;height:100px;left:0;margin:auto;position:absolute;right:0;top:0;width:80%}._2go6{font-size:14px;margin:16px auto;width:180px}._2go6 a,._2go6 a:hover{color:#fff;text-decoration:none}._3i0o{font-size:24px}._3i0p{font-size:16px;font-weight:normal}@media (min-width: 800px){._2go0{width:50%}}@media (max-width: 300px){._2go0{width:90%}}
._mso div.swfObject,._mso div.swfObject embed,._mso div.swfObject object{height:100% !important;width:100% !important}
._3fnw{height:100%;margin:0 auto}._3fnx{background-color:#000}._3fny{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}
._4x6d::after{background-color:rgba(20, 22, 26, .2);content:"";height:100%;left:0;position:absolute;top:0;width:100%}
._5sjk._3htz{background-color:rgba(20, 22, 26, .7);color:#fff;display:none;font-family:helvetica, arial, sans-serif;padding:0;position:absolute;text-align:center;text-shadow:1px 1px 0 rgba(20, 22, 26, .3)}._3-n5 ._5sjk{display:block}

#bootloader___Ix1{height:42px;}.bootloader___Ix1{display:block!important;}