@charset "UTF-8";
/* CSS Document */

/* global settings */

body {
	margin:0;
	font-size:medium;
	z-index:1;
	color:#666666;
	font-family:'gill-ss-std', Verdana, Geneva, sans-serif;
}

input {
	font-family:'gill-ss-std', Verdana, Geneva, sans-serif;
	color:#666666;
}

img {
	border:none;
}

.clear {
	clear:both;
}

a, a:link, a:visited, a:active {
	color:#666666;
	text-decoration:none;
	outline:none;
}

a:hover {
	color:#7fb61a;
	text-decoration:none;
}

a, input[type="submit"], a.grid-button span, .related-posts a span, #display-layout.layout-grid .addthis-hover  {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

div {
	position:relative;
	height:auto;
	overflow:visible;
}

input[type="submit"] {
	-webkit-appearance: none;
}

input, textarea {
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

/* structure */

.full-width {
	width:100%;
	min-width:750px;
}

.fixed-width {
	width:auto;
	max-width:970px;
	padding:0 50px;
	margin:0 auto;
}

.fixed-width.wide {
	width:100%;
	/*max-width:1050px;*/
	max-width:1070px;
	padding:0;
}

/* top bar */

#top-bar-span {
	background-color:#f3fad9;
	padding-top:5px;
}

.top-bar-nav {
}

.top-bar-nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

.top-bar-nav ul li {
	display:inline-block;
	float:right;
	padding:7px 0;
}

.top-bar-nav ul li a {
	display:block;
	color:#666666;
	height:12px;
	line-height:12px;
	text-transform:uppercase;
	font-size:12px;
	font-family:'gill-ss-std', Verdana, Geneva, sans-serif;
	padding:3px 7px;
	background:url(http://www.thebodyshop.ca/en/img/common/separator/separator-01.gif) top right no-repeat transparent;
}

.top-bar-nav ul li:first-of-type a {
	background:none;
}

.tob-bar-nav ul li a:hover {
	color:#7fb61a;
	text-decoration:none;
}

.top-bar-nav ul li.rewards-card {
	padding-right:47px;
	background:url(../images/lyb_card.png) right center no-repeat transparent;
}

.top-bar-nav ul li.rewards-card a {
	padding-right:0;
}

.top-bar-nav ul li.current-menu-item a {
	color:#7fb719;
}

/* header */

#header-span {
	/*background:url(../images/header-bg.jpg) 0 -30px repeat-x transparent;*/
	background: #000;
	z-index:1;
}

#header {
	padding:40px 0 0 0;
}

#header a.logo {
	display:block;
	background:url(../images/tbs-logo.png) 0 0 no-repeat transparent;
	text-indent:-9999px;
	text-transform:capitalize;
	cursor:pointer;
	margin-left:0px;
	height:33px;
	/*margin-left:25px;
	height:35px;*/  /* OLD - from old logo 11/5/2015 */
}

#header .nav {
	margin-top:37px;
	clear:both;
	background-color:#FFF;
	min-height:36px;
	border:1px solid #CCCCCB;
}

#header .nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

#header .nav ul li {
	display:inline-block;
	float:left;
	padding:0;
	width:100%;
}

#header .nav ul li ul {
	width:100%;
}

#header .nav ul li ul li {
	padding:10px 0;
	width:auto;
}

#header .nav ul li a {
	display:none;
}

#header .nav ul li ul li a {
	font-size:16px;
	font-family:'gill-ss-std', Verdana, Geneva, sans-serif;
	line-height:16px;
	height:16px;
	text-transform:uppercase;
	color:#666666;
	padding:0 13.5px;
	background:url(http://www.thebodyshop.ca/en/img/common/separator/separator-01.gif) right center no-repeat transparent;
	display:block;
}
#header a:hover {
	color:#7fb61a;
}

#header .nav ul li ul li:last-of-type a {
	padding-right:0px;
	background:none;
}

/**
 *
 * FONT FACE
 *
 */
 
@font-face {
	font-family: 'gill-ss-std';
	src: url(../font/gillsansstd-webfont.eot);
	src: url(../font/gillsansstd-webfont.eot?#iefix&stop_mobi=yes&stop_mobi=yes) format('embedded-opentype'), 		 /*url(../font/gillsansstd-webfont.woff) format('woff'),*/  url(../font/gillsansstd-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gill-ss-std-bold';
	src: url(../font/gillsansstd-bold-webfont.eot);
	src: url(../font/gillsansstd-bold-webfont.eot?#iefix&stop_mobi=yes) format('embedded-opentype'), 		 /*url(../font/gillsansstd-bold-webfont.woff) format('woff'),*/  url(../font/gillsansstd-bold-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bebasneue';
	src: url(../font/bebasneue-webfont.eot);
	src: url(../font/bebasneue-webfont.eot?#iefix&stop_mobi=yes) format('embedded-opentype'), 		 /*url(../font/bebasneue-webfont.woff) format('woff'),*/  url(../font/bebasneue-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TBSactivist';
	src: url(../font/tbs-activist-webfont.eot);
	src: url(../font/tbs-activist-webfont.eot?#iefix&stop_mobi=yes) format('embedded-opentype'), 		 /*url(../font/tbs-activist-webfont.woff) format('woff'),*/  url(../font/tbs-activist-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}