@charset "UTF-8";
/* CSS Document */ 

@media only screen and (max-width: 1045px) {
	#header .nav ul li ul li a {
		font-size:15px;
		padding:0 7px;
		font-family:'gill-ss-std', Verdana, Geneva, sans-serif;
	}
}

@media only screen and (max-width: 902px) {
	
	
	
	#header .nav ul li ul li a {
		font-size:14px;
		padding:0 5px;
		font-family:'gill-ss-std', Verdana, Geneva, sans-serif;
	}
}

@media only screen and (max-width: 768px){
	#section-1 h1 {
		text-align: center;
		font-size: 126px; 
	}

	#section-1 h2 {
		text-align: center;
		font-size: 50px;
	}
}

@media only screen and (max-width: 479px) {
	.full-width {
		width:100%;
		min-width:100%;
	}
	
	#header a.logo {
		max-width:90%;
		margin-left:auto;
		margin-right:auto;
		background-size:contain;
	}
	
	.fixed-width {
		width:94%;
		padding:0 3%;
	}
	
	.fixed-width.wide {
		width:100%;
		padding:0;
	}
	
	
	#header .nav ul li a {
		font-family:'gill-ss-std', Verdana, Geneva, sans-serif;
		display:block;
		width:37px;
		height:37px;
		font-size:16px;
		line-height:16px;
		text-transform:uppercase;
		color:#666666 !important;
		padding:9px 14px 9px 40px;
		background:url(../images/menu.png) 10px center no-repeat;
	}
	
	#header .nav ul li ul {
		display:none;
		position:absolute;
		z-index:1;
		background-color:#FFF;
		border-bottom:1px solid #cdcdcc;
		width:100%;
	}
	
	#header .nav ul li:hover ul {
		display:block;
	}
	
	#header .nav ul li ul li {
		display:block;
		clear:both;
		width:100%;
		padding:0;
		background-repeat:no-repeat;
	}
	
	#header .nav ul li ul li a {
		background:none;
		background:url(../images/dash.png) left top repeat-x;
		padding:20px 3%;
		width:94%;
	}

	#section-1 h1 {
		text-align: center;
		font-size: 82px; 
	}

	#section-1 h2 {
		text-align: center;
		font-size: 32px;
	}
	
	#section-12 .desktop {
		visibility: hidden;
		display: none;
	}
	
}

@media (max-width: 360px) {
	#section-1 h1 {
		text-align: center;
		font-size: 55px; 
	}

	#section-1 h2 {
		text-align: center;
		font-size: 20px;
	}
}

@media (max-width: 320px) {
	#section-1 h1 {
		text-align: center;
		font-size: 82px; 
	}

	#section-1 h2 {
		text-align: center;
		font-size: 32px;
	}

}