/****************** SMARTPHONE *********************/

@media only screen and (max-width: 768px){

	/****** FEATURES *******/

	.row{
		min-width: 100%;
	}
	
	.row-980{
		width: auto !important;
	}

	.row-1070 {
		width: auto !important;
	}

}



@media (max-width: 480px) {

	.mobile {
		display: block;
		visibility: visible;
	}

	.desktop {
		display: none;
		visibility: hidden;
	} 

	#panel-one .row-1070{
		background: none;
		height: auto;
	}

	.arrow-left, .arrow-right, #rose-left, #rose-right{
		display: none;
	}

	#panel-one .leading2{
	  	font-size: 40px;
	}

	#panel-one .leading2 span{
		display: none;
	}

	#panel-one .subleading{
	  	font-size: 18px;
	}

	#panel-two .mobile .columns{
		width: 50% !important;
		float: left !important;
		padding: 10px;
	}

	#panel-two .mobile img{
		padding-top: 5px;
	}

	#panel-two .new{
		font-size: 20px;
		padding: 10px 0px;
		text-decoration: underline;
	}

	#panel-two .prod-name{
		max-width: none;
		font-size: 20px;
		padding: 10px 0px;
	}

	#panel-two .prod-subtitle{
		max-width: none;
		font-weight: 400;
		font-size: 16px;
		padding: 0px 0px 10px 0px;
	}

	#panel-two .price-size{
		font-size: 22px;
    	padding: 0px 0px 10px 0px;
	}

	#panel-five{
		padding: 10px;
	}

	#panel-five .leading{
		font-size: 40px;
		font-family: 'interstate-blackcond', Verdana, Geneva, sans-serif;
	}

	#panel-five .leading .pink{
		font-size: 50px;
	}

	#panel-five .leading .mobile{
		display: inline;
	}

	#panel-five .columns{
		width: 50% !important;
		float: left !important;
		padding: 0px;
	}

	#panel-five .columns img{
		 margin: 0 auto;
	}

	#panel-five .prod-title{
		font-size: 17px;
		text-transform: none;
	}

	#BR-soap{
		padding-top: 70px;
	}


	
}


@media (max-width: 320px) {


	#panel-top .leading2{
		font-size: 60px;
	}

	#panel-top .subleading{
		font-weight: 16px;
	}

	#panel-one .leading, #panel-one .leading2{
		font-size: 36px;
	}

	#panel-two .mobile .columns{
		padding: 5px;
	}

	#panel-five .leading .pink{
		font-size: 45px;
	}

	#panel-five .columns{
		width: 100% !important;
    	float: none !important; 
	}

	#panel-five .columns img{
		width: 60%;
	}

	#BR-soap{
		padding-top: 0px;
	}

	a.btn{
		padding: 2px 5px;
	}


}
